.sidebar {
  position: absolute;
  top: 50%;
  right: 10px;
  color: white;
  display: flex;
  flex-direction: column;
}

.sidebar .section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.sidebar .section p {
  margin: 0;
  padding: 0;
}